/* ================================= 
  Base Element Styles
==================================== */
*{
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    margin:0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  p {
      font-size: .95em;
      margin-bottom: 1.8em;
  }
  h2,
  h3,
  a {
      color: #093a58;
  }
  h2,
  h3 {
      margin-top: 0;
  }
  a {
      text-decoration: none;
  }
  img {
      max-width: 100%;
  }
/* ================================= 
  Base Layout Styles
==================================== */
/* ---- Navigation ---- */

.main-nav{
	margin-top: 5px;
}
.name a,
.nav a {
	text-align: center;
	display: block;
	padding: 5px 15px;
	font-size: .95em;
    text-transform: uppercase;
}   

/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
    background-color:mintcream;
}

.banner,
.main-footer {
	text-align: center;
}

.banner {
	background-color: mintcream;
	padding: 1em 0;
	margin-bottom: 20px;
}

.main-footer {
	background-color: mintcream;
	padding: 1rem 0;
	margin-top: 0;
}

.contact{
    text-align: center;
    background-color: mintcream;
	padding: 1rem 0;
	margin-top: 10px;
    margin-bottom: 0;
}

.email a:link{
    color:teal;
}
.email a:visited{
    color:lavender;
}
.email a:hover{
    text-decoration: underline;
}
/* ---- Page Elements ---- */

.profile-image{
    width: 320px;
}



/* Media Queries */
@media (min-width:769px) {
    main{
        width: 90%;
        max-width: 1000px;
        margin: 0 auto;

    }

}